body {
    background-image: url("images/back.PNG");
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: padding-box;
}


div {
    width: 900px;
    border: 10px solid #e6b340;
    padding: 20px;
    background: #c63832;
    border-radius: 40px;
    opacity: 0.8;
}
div:hover {
    opacity: 1;
}


h1 {
    color: #0093dd;
    font-size: xx-large;
    text-shadow: 2px 2px 4px black;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
}


h2 {
    font-size: large;
    color: #e6b340;
    padding-left: 50px;
}


label {
    font-size: large;
    color: #e6b340;
    padding: 40px;
}


.input {
    display: block;
    border: 2px solid #ccc;
    width: 90%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}


a {
    color: #0093dd;
    text-decoration: none;
}
a:hover{
    color: #0093dd;
    font-size: x-large;
    text-decoration: underline;
    text-shadow: 1px 1px 2px black;
}


.button {
    float: right;
    background: #0093dd;
    padding: 10px 15px;
    color: #ccc;
    font-size: large;
    border-radius: 5px;
    margin-right: 50px;
    border: none;
    box-shadow: 1px 1px 2px black;
}
.button:hover{
    box-shadow: 2px 2px 4px black;
    text-shadow: 1px 1px 2px black;
}


.error {
   background: #0093dd;
   color: ccc;
   padding: 10px;
   width: 90%;
   border-radius: 5px;
   margin: 20px auto;
   border: 2px solid #e6b340;
}